<h1>Pages#admin</h1>

<p>Admin View</p>
<div style="overflow-x:auto">
  <table>
    <thead>
      <tr>
        <th>Not Approved Emails</th>
        <th>User role</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |user| %>
        <%if user.approved == nil and user.role == "admin" or user.role == "instructor"%>
          <tr>
            <td><%= user.email %> </td>
            <td><%= user.role %> </td>
            <td><%= user.approved %> </td>
          </tr>
          <% end %>
        <% end %>
    </tbody>
  </table>
</div>
