<h1>Recommend Students</h1>
<p>Below, you may select a student to write a recommendation for. If the student you wish to recommend
is not in this list, please instruct them to create an account first.</p>

<% if current_user&.instructor? %>
  <div style="overflow-x:auto">
    <table border=1>
      <tr>
        <th>Student ID</th>
        <th>Student Email</th>
      </tr>
      <% User.where(["role = ?", 0]).each do |student| %>
          <tr>
            <td style="font-weight: bold"><%= student.id %></td>
            <td style="font-weight: bold"><%= student.email%></td>
            <%if Recommendation.where(["student_id = ? AND instructor_id = ?", student.id, current_user.id]).first %>
              <td>Recommendation Received</td>
            <% else %>
              <td><%= button_to "Write Recommendation", write_recommendation_path(student), :method=> :get,
                                form_class: 'tableform', class: 'tablebutton'%></td>
            <%end %>
          </tr>
      <% end %>
    </table>
  </div>
<% end %>