<h1>Recommendation</h1>
<% recommendation = Recommendation.find(id = params[:id]) %>
<p>Recommendation submitted by
  <%= (User.find(id = recommendation.instructor_id)).email %></p>
<p><%= recommendation.Recommendation %></p>