*{padding: 0; margin: 0; box-sizing: border-box;}
body {
	font-family: 'Courier New', monospace;
	background-color: #ff0000;
	background-image: linear-gradient(#00ffff, #ff0000);
}


img
{
	min-height: 90px;
	min-width: 170px;
    width : 100%;
    height: 100%;
    padding: 1px;
	border-radius: 10px;
	object-fit: cover;
}

h1
{
	font: italic 60px monospace;
	font-size: 60px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	overflow: hidden;
	text-shadow: 1px 1px 1px #333;

}

.btn
{
	color: black;
	outline: black;
	padding: 12px 26px;
	display: flex;
	transition-duration: .5s;
	cursor: pointer;
	background-color: #4CAF50; 
	border: 2px solid black;
	text-align: center;
	font-size: 16px;
	width: 100px;
	height:40px;
}

.btnMenu /* Button menu */
{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	place-items: center;
	max-width:200px;
	max-height:200px;
	margin-left:5px;
	margin-bottom:50px;
}

.menuHeader /*Menu header */
{
	margin-left: 85px;
	margin-right:auto;
}
.spacing
{
	margin-bottom: -50px;
} 

.shuf
{
	padding: 10px 22px;
}
.hint
{
	padding: 10px 32px;
}
.p1 /*Player select buttons */
{
	font-size: 14px;
	padding: 4px 32px;
	background-color: #0084ff; 
}
.p2 /*Player select buttons */
{
	font-size: 14px;
	padding: 4px 32px;
	background-color: #ff0000; 
}

.fin 
{
	background-color: #92999b; 
	padding: 10px 28px;
}
.inst
{
	background-color: #92999b; 
	padding: 10px 6px;
}

.grid .select
{
	border: 5px solid #ff0000;
	border-radius: 10px;
}

.grid .unselect
{
	border: 5px solid transparent;
	border-radius: 10px;
}


.grid
{
	display:grid;
	grid-template-columns: repeat(4,1fr);
	place-items: start end;
	margin-left:auto;
	margin-right: auto;
	max-width:500px;
	align-items: stretch
}
