<!DOCTYPE html>
<html>
<head>
  <title>Recommendations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
</html>
<header>Recommend Students</header>
<%= button_to "Home Page", root_path, :method => :get %>
<p>Below, you may select a student to write a recommendation for. If the student you wish to recommend
is not in this list, please instruct them to create an account first.</p>

<% if current_user&.instructor? %>
  <div style="overflow-x:auto">
    <table>
      <tr>
        <th>Student ID</th>
        <th>Student Email</th>
      </tr>
      <% User.where(["role = ?", 0]).each do |user| %>
          <tr>
            <td style="font-weight: bold"><%= user.id %></td>
            <td style="font-weight: bold"><%= user.email%></td>
            <td><%= link_to "Write Recommendation", write_recommendation_path(user) %></td>
          </tr>
      <% end %>
    </table>
  </div>
<% end %>