<h1>Write Recommendation</h1>
<% if current_user.instructor? and current_user.approved%>
  <p>Write the recommendation for the student below.</p>
  <%= form_with(model: Recommendation.new) do |form| %>
    <div class="field">
      <%= form.text_area :Recommendation, size: "100x25"%>
    </div>
    <div class="actions">
      <%= form.submit 'Submit recommendation'%>
    </div>
  <% end %>
<% else %>
  <p>You have to be an instructor to write a recommendation.</p>
<% end %>